[2019-06-18 11:47] keilw opened #1 "Migrate to ee4j"
This repository should be transferred to https://github.com/eclipse-ee4j

[2019-06-18 11:51] otaviojava commented on #1
Yes, we're waiting for the Eclipse Process, there is a ticket for that.

[2019-06-18 11:54] otaviojava commented on #1
https://bugs.eclipse.org/bugs/show_bug.cgi?id=548064

[2019-06-18 12:13] keilw opened #2 "Version number"
Even though as Jakarta EE spec this is new, it follows what was incubating under https://github.com/eclipse/jnosql/releases in release 0.0.9, so this new spec may better stick to 0.1.0-SNAPSHOT instead of going back to 0.0.1.

[2019-06-18 12:19] keilw opened #3 "Licenses?"
The structurally identical JNoSQL "spec" had the following licenses: https://github.com/eclipse/jnosql/blob/master/LICENSE
This one https://github.com/JNOSQL/nosql/blob/master/LICENSE while upgraded to EPL 2.0 does not mention the Apache License 2.0 as secondary license at all, it's lost and "replaced" by the default Java EE 8 "legacy" of GPL 2 with CPE.
How come the secondary license would sudden

[2019-06-18 12:54] otaviojava commented on #3
This request comes from the legal team.

[2019-06-18 14:28] keilw commented on #3
Eclipse Legal? @waynebeaton, is this really the case, that new Jakarta EE Specs must have GPL with CPE as the only secondary license, regardless of the prior codebase?

[2019-06-18 15:02] waynebeaton commented on #3
It came from me. While the project proposal was in draft, I expressed a preference that the project use the licensing scheme of the top-level project. @otaviojava agreed.

[2019-06-18 15:29] keilw commented on #3
I don't see that much of a problem, are there others including every contributor (https://github.com/eclipse/jnosql/graphs/contributors) who should be asked for their permission (I know from a Spec Lead role, that is the case for JCP specs) or can the project lead decide that alone?
Also asking with other possible candidates like Config in mind. I highly doubt they would accept that based on what'

[2019-06-18 15:47] otaviojava commented on #3
@waynebeaton thank you.

[2019-06-18 16:17] waynebeaton commented on #3
The IP Team is engaged. They will ensure that any relicensing that is required has been executed correctly.

[2019-06-18 18:32] otaviojava commented on #2
You're right.
I'll fix it.

[2019-06-18 21:06] otaviojava commented on #2
Fixed on: https://github.com/eclipse-ee4j/nosql/issues/2

[2019-06-18 21:06] #2 closed

[2019-06-18 21:06] otaviojava commented on #1
That is the place, done :)

[2019-06-18 21:06] #1 closed

[2019-06-24 12:25] keilw opened #7 "Possible new logo"
I was wondering, since there are so many references to gods and godesses mostly from ancient Greek mythology how do you find the idea of a Jakarta EE (color) themed variation of Odysseus' ship? Something like https://pexels-library.com/img/odysseus-clipart-24.html (it says share or modify) could be a basis or others like this one https://www.dreamstime.com/stock-illustration-greek-trireme-stylized

[2019-07-10 07:32] struberg commented on #3
Also note, that the current API is licensed under EPL-1.0.
This potentially needs further clearance and ACK from all contributors if you want to update to EPL-2.0.

[2019-07-10 08:00] keilw commented on #3
That's why I asked, but it does not seem an issue. For most parts @otaviojava was the only contributor anyway ;-)

[2019-07-10 12:05] otaviojava commented on #3
Thank for the feedbacks, that is the IP track: https://dev.eclipse.org/ipzilla/show_bug.cgi?id=19915

[2019-07-10 12:26] waynebeaton commented on #3
Content licensed under the EPL-1.0 can be distributed under the terms of a new version of the agreement. That is, you can just update the license from EPL-1.0 to EPL-2.0. It's a good idea to let contributors know what you're doing.

FWIW, updating from EPL-1.0 to EPL-2.0 with a secondary license (which I believe is the case here) may require some attention from the contributors. The IP should have

[2019-07-10 13:24] keilw commented on #3
The project info https://projects.eclipse.org/projects/ee4j.nosql states GPL with CPE as the secondary license, which one is correct, or are there 2 secondary licenses?

[2019-07-22 08:14] keilw opened #8 "Provide module-infos"
NoSQL is pretty well modularized, but so far those modules rely on automatic module-names. In correlation with a Jakarta EE naming scheme for Jigsaw modules, NoSQL should define actual modules in `module-info` files.

[2019-08-10 20:58] otaviojava opened #9 "Define the package name domain to key-value."
As you know Jakarta NoSQL has one API to cover these NoSQL databases:
* Column
* Document
* Graph
* key-value

The domain to the first one is elementary, once we are talking about a sample name:

* jakarta.nosql.column
* jakarta.nosql.document
* jakarta.nosql.graph

The key-value is a bit difficult one even if we take a look at the convention:
https://docs.oracle.com/javase/tutorial/java/package/n

[2019-08-11 04:11] marcoantoniobferreira commented on #9
jakarta.nosql.kv looks good =)

[2019-08-12 16:25] keilw commented on #9
It's a little short, maybe "keyvalue" is a bit clearer, but as a module name I guess I could live with it if the majority wants the short form.

[2019-08-13 00:11] otaviojava commented on #9
Yes, Spring Data uses the same nomenclature.
So, +1 for keyvalue as well

[2019-08-13 14:38] #9 closed

[2019-08-13 14:39] otaviojava commented on #9
I'll keep keyvalue:

https://www.eclipse.org/lists/jnosql-dev/msg00425.html

[2019-08-14 19:52] keilw opened #11 "Define Parent"
Define a Parent like all other Jakarta EE Specs:
[code]

[2019-08-14 19:56] keilw opened #12 "Fix README"
The README document still mentions JNoSQL everywhere, it should change to NoSQL in relevant places. Also in the CONTRIBUTING file.

[2019-08-14 19:59] keilw opened #13 "Change GroupId"
The GroupId of the Parent POM itself should contain `org.eclipse.ee4j` along the lines of https://github.com/eclipse-ee4j/jsonp or https://github.com/eclipse-ee4j/cdi.

[2019-08-14 20:03] keilw opened #14 "Consider changing specification module to spec"
The Maven module `specification` should probably be renamed to `spec` along the lines of all major Jakarta EE specs like https://github.com/eclipse-ee4j/servlet-api etc.

The artifactId is already "spec".

[2019-08-14 20:32] keilw opened #15 "Consider adding an "api" module?"
Similar to the name of the spec module (#14) almost every Jakarta EE repository follows a common pattern with an "api" Maven module for API code. We could/should move [communication](https://github.com/eclipse-ee4j/nosql/tree/master/communication) and [mapping](https://github.com/eclipse-ee4j/nosql/tree/master/mapping) under an `api` layer.

[2019-08-15 09:26] otaviojava commented on #11
are you sure?
The pom,.xml does not have anything.
https://mvnrepository.com/artifact/org.eclipse.ee4j/project/1.0.5

[2019-08-15 09:31] otaviojava commented on #15
These modules already are API, I think that will be redundant.

Ref:
https://docs.oracle.com/javase/8/docs/technotes/guides/jdbc/

[2019-08-15 09:37] #11 closed

[2019-08-15 09:38] otaviojava commented on #12
Fixed, thank you Werner

[2019-08-15 09:38] #12 closed

[2019-08-15 09:39] otaviojava commented on #11
Fixed, thank you @keilw

[2019-08-15 10:02] keilw commented on #15
Well they would just be a Parent POM, see https://github.com/eclipse-ee4j/websocket-api/tree/master/api which has "client" and "server" under its "api". It was only a first step, but don't mistake the root POM for that parent, it should change to <groupId>org.eclipse.ee4j.websocket</groupId> as soon as https://github.com/eclipse/jnosql/issues/195 gets resolved.

[2019-08-15 15:22] #14 closed

[2019-08-23 10:08] keilw opened #20 "Create a TCK"
Either in a separate repository (as many Jakarta EE specs do) or theoretically as a module (then #15 would become mandatory to tell API and TCK apart) here we should create a TCK soon.

[2019-08-23 12:32] otaviojava commented on #20
Yes, but, baby-steps.
First, we need to have a stable API; then we can work on the TCK.
After these discussions, I would like to release a version to the community to see the result, and then we can start to work on the TCK.

[2019-08-27 09:20] keilw commented on #20
The TCK is not exactly the same, see the 1000+ tests in https://github.com/unitsofmeasurement/indriya and the https://github.com/unitsofmeasurement/unit-tck. A few tests could be usable. I guess the experience of Jakarta EE 8 with creating and opening several dozen TCKs right now might help to find the right toolset as well (e.g. TestNG vs. JUnit or Arquillian, etc.)

[2020-11-02 12:25] lukasj opened #61 "Consider making samples more neutral"
Given the world we live in, I think it would be better to avoid using entities which may be seen inappropriate by some as they may be interpreted as referring to [a particular religion](https://www.learnreligions.com/god-or-god-to-capitalize-or-not-to-capitalize-249823). Ie github itself tries to be on [the safe side](https://www.zdnet.com/article/github-to-replace-master-with-alternative-term-to-

[2020-11-02 12:42] lukasj opened #62 "Make spec document more implementor centric"
Going through current spec, it feels to me more like a user-guide for particular implementation.
While having descriptive examples may be good thing to have there, I'd expect the spec document to be more "implementor centric" with defined requirements for the implementor. A user guide of particular implementation seems to be better place for (more) detailed examples as it may use also implementati

[2020-11-02 13:06] keilw commented on #61
Are you suggesting to remove all God examples including the Greek or Nordic ones?

I don't think Jakarta NoSQL even uses Egyptian gods, the majority of examples are under https://github.com/JNOSQL and demos like https://github.com/JNOSQL/nosql-endgame refer to the "Avengers" characters, at most Marvel could find some of them offensive, but as Thor existed before the Marvel films I think we should

[2020-11-02 13:39] lukasj commented on #61
What I'm suggesting is to avoid using the entity named "God" as it may refer to one particular religion, Christianity should it be not clear enough.

I really do not care when/if the "master" renaming in our repos is going to happen. My point is to show an example of someone else close enough to us moving to politically correct naming convention in order to prevent association with possibly offend

[2020-11-02 14:07] keilw commented on #61
So is it more about being fair to atheists or those worshipping Satan or the Pastafari monster? We'll consider it. We may have to change some demos on @thodorisbais' part because the ancient mythology won't work that well without a "God" entity, while the Avengers themed examples could use a term like "Hero" instead.

[2020-11-02 14:16] lukasj commented on #61
Do you think those killing people in churches in France are Satanists or Pastafarians?

[2020-11-02 14:20] keilw commented on #61
Some may say, but we're not picturing any of those gods (especially no Muslim ones) and "Allah" is simply the translation of "God" but we also have i18n cases in other projects, therefore I don't really see a problem with a particular word.

[2020-11-02 14:27] otaviojava commented on #61
I don't know, but it easier to change it to Hero instead of God.
I'll create a PR later today.

Thank you for the feedback @lukasj

[2020-11-02 14:29] keilw commented on #61
Is this only about the textual samples here I assume, because the actual examples are found in places like https://github.com/JNOSQL.
Please do not create or merge a PR there until our Devoxx talk is over, it may cause too much disruption there, but we can change it over the weekend ;-)

[2020-11-02 14:36] keilw commented on #62
Thanks, we appreciate input by @lukasj, @m0mus or maybe @cfsilence who I just learned about his role at Oracle during JCON last week.

[2020-11-02 16:11] lukasj commented on #61
thank you @otaviojava

[2020-11-08 10:28] otaviojava commented on #61
@lukasj https://github.com/eclipse-ee4j/nosql/pull/63

[2020-11-08 13:39] keilw commented on #61
@lukasj @otaviojava Sorry but that PR makes no real sense. If you want to continue down the "Heroes" path, then please let's do it properly and move from Greek Gods to Greek Heroes in this case by using folks like Odysseus (https://quizlet.com/109848802/odyssey-flash-cards/) or Archilles.

[2020-11-09 16:35] lukasj commented on #61
[merriam-webster](https://www.merriam-webster.com/thesaurus/god) to the rescue, it lists bunch of synonyms one can use. While _hero_ is one of the synonyms, either _deity_ or _divinity_ probably fits better.

[2020-11-09 16:39] keilw commented on #61
@lukasj @merriam-webster Thanks a lot, it seems to also work with `demideity` in some of the examples.
We might go with the "Hero" approach in some examples like "NoSQL Endgame", but let's use this in all other places.
@otaviojava can you fix the PR accordingly?

[2020-11-10 19:27] thodorisbais commented on #61
@lukasj thank you for bringing this up, but before making any change to our nosql-endgame presentation/repository, I would be interested in hearing whether your stand represents you as an open-source entity or your employer.

[2020-11-10 19:41] keilw commented on #61
If we do it here it should be consistent, so @lukasj, @thodorisbais please advise or discuss before I can approve https://github.com/eclipse-ee4j/nosql/pull/63

[2020-11-10 19:42] thodorisbais commented on #61
@keilw exactly the reason I'm questioning the rationale, so let's see what the outcome of this discussion will be :-)

[2020-11-10 19:59] keilw commented on #61
I think @lukasj also explained to some extent why he thinks it is better to use a more neutral term like "Deity" because "God" is also used as the name more often than the attribute or position.
The "master/slave" discussion is similar to what some people say about the [Zwarte Piet](https://en.wikipedia.org/wiki/Zwarte_Piet#Public_opinion_in_the_Low_Countries_and_worldwide), or what's been happeni

[2020-11-10 20:21] lukasj commented on #61
@thodorisbais does it matter whose stand the issue represents? Does my employer's opinion have different weight than my - or arbitrary contributor's - own? If the answer is yes and this project is supposed to be open then I'm sorry but that approach smells as I was hoping all input is treated equally.

[2020-11-10 20:47] thodorisbais commented on #61
@lukasj I'm sorry if you got me wrong, that was not my intention, Lukas. I would be equally happy regardless of where this came from, it was just a friendly question to understand the rationale behind this and whether there is already such an agreement on the table (or up for discussion), which would mean that we would need to rigorously reassess the rest of the projects as well :-) .

[2020-11-10 20:47] keilw commented on #61
I can't say, if the spec is currently important enough to Oracle, but with JUGs e.g. from Turkey adopting some other specs already I'd say we don't take a risk offending any of them so let's use the neutral term. @lukasj has a point, that one benefit of Jakarta EE compared to the JCP is, that no single company like Oracle or IBM have the sole veto right, so I guess it also doesn't really matter if

[2020-11-10 20:53] thodorisbais commented on #61
@keilw fair point as well. Let's move ahead. I'll create a new issue for our nosql-endgame repo and link it to this one.

[2020-11-10 21:36] lukasj commented on #61
@thodorisbais Np. Thanks for your explanation. I'm pretty sure we all are sometimes lost in translation ;-)

Generally, what I do care about here are apis (incl. javadoc) and spec document - that is something what should follow some general conventions and use as much neutral language as possible. It's supposed to be published technical documentation other vendors/implementors should follow in the

[2020-11-10 21:43] keilw commented on #61
A bit like the late Bill Shannon O;-) He also even spoke out against those e.g. in the PR department when they tried to violate conventions or ignore technical restrictions. While he left giant shoes glad a few others at Oracle also triy to walk in them ;-)

[2021-01-01 20:48] sergey-morenets opened #64 "Caused by: java.lang.ClassNotFoundException: javax.annotation.Priority"
Hi

I tried to use sample from the official documentation http://www.jnosql.org/docs/document.html. However I've got a pretty strange exception:

[code]

ServiceLoaderSort class from the communication-core module(version 1.0.0-b2) is defined in jakarta.nosql package but imports type from javax projects:

`import javax.annotation.Priority;`

Is it correct behavior?

[2021-01-01 23:15] keilw commented on #64
The most recent version should not use javax any more, but if you look at a milestone build like B02 that still would be correct. Are you talking about the SNAPSHOT or B02 state?

[2021-01-02 07:25] sergey-morenets commented on #64
@keilw Here's my list of dependencies (I guess it's the latest published ones):

		<dependency>
			<groupId>org.eclipse.jnosql.artemis</groupId>
			<artifactId>artemis-document</artifactId>
			<version>1.0.0-b2</version>
		</dependency>
		<dependency>
			<groupId>org.eclipse.jnosql.diana</groupId>
			<artifactId>mongodb-driver</artifactId>
			<version>1.0.0-b2</version>
		</dependency>
		<dependen

[2021-01-02 07:26] sergey-morenets commented on #64
@keilw BTW, is there a fixed date for Jakarta NoSQL release version?

[2021-01-02 18:40] otaviojava commented on #64
@sergey-morenets we're not ready to version 9.0.0 yet:
https://www.eclipse.org/lists/jnosql-dev/msg00557.html
It is WIP, hopefully, we'll have a version next two weeks.

[2021-01-17 01:16] keilw commented on #3
This is very old, @otaviojava, @waynebeaton, @ivargrimstad do you see any reason to keep it open?

[2021-01-17 06:26] otaviojava commented on #3
IMHO, we can close this one.

[2021-01-17 06:26] #3 closed

[2021-01-20 18:02] amoscatelli opened #65 "Repository injection doesn't work"
I am using Wildfly 21.0.0 (so I have CDI/Weld as required)

Any combination of

    @Produces
    @Database(DatabaseType.KEY_VALUE)
    protected BucketManager produce() {
        return manager;
    }

or

    @Produces
    protected BucketManager produce() {
        return manager;
    }

Isn't enough to inject

    @Inject
    @Database(DatabaseType.KEY_VALUE)
    private StringValueRepository

[2021-01-20 18:15] #65 closed

[2021-01-20 18:35] keilw commented on #65
@amoscatelli Does it work now?

[2021-01-20 18:38] amoscatelli commented on #65
@keilw no sorry, I closed this since I believe this is the spec repository.
I opened another one in the implementation repo:
https://github.com/eclipse/jnosql/issues/251

[2021-01-22 12:09] amoscatelli opened #66 "PrePersist & PostPersist events"
Hi there,
first of all I want to thank you for all this wonderfull work.
**Nosql was the kind of specification/abstraction Jakarta EE needed and I think that all of this (beginning with the 4 different kind of nosql interfaces) is a stroke of genius.**

Let's get into business:

1) There is a typo :
jakarta.nosql.mapping.EntityPostPersit
should be
jakarta.nosql.mapping.EntityPostPersist

2) I beli

[2021-01-22 12:17] amoscatelli commented on #66
Even more, you may have entities with an attribute "value" and the getValue() could be misleading and a bother.

[2021-01-22 12:22] amoscatelli commented on #66
If you agree with me (to change the spec) I can make a pull request here (the spec) and a pull request for the reference implementation to help you.

[2021-01-22 14:25] otaviojava commented on #66
Hello @amoscatelli
Thank you for the suggestion.
That sounds like an amazing idea.
I'll put it as an enhancement to release after the 1.0.0 release.
Right now, we're closing the changes in the API to release this version and then push new improvements in the next versions.

[2021-01-22 14:31] amoscatelli commented on #66
So you plan to keep both of them (interfaces and annotations) ?
Otherwise you'll need to deprecate and remove interfaces later ...

[2021-01-22 14:39] otaviojava commented on #66
Yeap, or maybe use the Jakarta commons annotation instead:

- https://jakarta.ee/specifications/platform/9/apidocs/jakarta/annotation/postconstruct
- https://jakarta.ee/specifications/platform/9/apidocs/jakarta/annotation/predestroy

[2021-01-22 14:53] amoscatelli commented on #66
Probably keeping them both would be better.
I can't see a clear mapping/semantic with those annotations.

[2021-03-02 04:56] asterisk360-admin opened #68 "Trying to implement at OpenLiberty"
Hello everyone

I'm trying to implement jakarta nosql in openliberty, but i dont have success.
Dependencies are not resolved, and package jakarta.nosql.* dont exist.
The openLiberty version is  21.0.0.2

Any help is apreciated. Regards

The pom.xml used is:

<?xml version='1.0' encoding='utf-8'?>
<project xmlns="http://maven.apache.org/POM/4.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instan

[2021-03-02 06:57] otaviojava commented on #68
Hello, how are you?
Could you test with version 1.0.0-b3?

[2021-03-02 08:26] keilw commented on #68
I guess that 0.0.9 is fairly outdated now, so 1.0.0b3 or at least b2 would be a better choice.

[2021-03-02 16:01] asterisk360-admin commented on #68
Hello and thanks both for the reply.

I'm confused about to the repository to select.
Updated examples at internet talk about org.jnosql (https://www.baeldung.com/eclipse-jnosql)
and the documentation reference to org.eclipse.jnosql  (http://www.jnosql.org/docs/document.html)

In your suggest you talk about org.jnosql but i cant find that version>
<dependency>
    <groupId>org.jnosql.artemis</grou

[2021-03-02 21:09] otaviojava commented on #68
Please, @asterisk360-admin use those dependencies:

https://mvnrepository.com/artifact/jakarta.nosql.mapping/mapping-document/1.0.0-b3
https://mvnrepository.com/artifact/org.eclipse.jnosql.communication/mongodb-driver/1.0.0-b3

[2021-03-03 06:25] asterisk360-admin commented on #68
Thanks for reply @otaviojava

I get the next dependence missing error:

@Inject
@Database(DatabaseType.DOCUMENT
ERROR = DatabaseType - cannot be resolved to a variable

PersonRepository repository = container.select(PersonRepository.class).select(DatabaseQualifier.ofDocument()).get();
ERROR = DatabaseQualifier - cannot be resolved

I update the code of the example at this repo >  https://github.co

[2021-03-03 10:29] otaviojava commented on #68
Hey @asterisk360-admin could you merge this PR?
https://github.com/asterisk360-admin/jnosql-openliberty/pull/1

[2021-03-03 20:12] asterisk360-admin commented on #68
Nice help @otaviojava really apreciated!

Now i'm trying to use CDI but the next dependency error is show at runtime:
I see this classes are in jakarta.nosql/api-parent package
Is another dependency required for work with CDI?

I update the last test code repo> https://github.com/asterisk360-admin/jnosql-openliberty

---

[INFO] [WARNING ] CWNEN0049W: Resource annotations on the methods of the org

[2021-03-05 06:54] otaviojava commented on #68
Could you update with this PR?
https://github.com/asterisk360-admin/jnosql-openliberty/pull/2/

[2021-03-05 06:56] otaviojava commented on #68
@asterisk360-admin
I checked the code and it looks ok.
I did not understand why several: `java.lang.NoClassDefFoundError` of JNoSQL library once those are on the dependency.
Could you explain to me what you're doing to execute this code?

[2021-03-05 15:43] asterisk360-admin commented on #68
Hello @otaviojava and thanks for the reply

I update and clean the code (https://github.com/asterisk360-admin/jnosql-openliberty)

The goal of this example is make a basic hello world for the  jnosql using openliberty, rest, cdi, microprofile and mongodb

The flow is the next:
PersonApi =>> PersonDAO =>> PersonRepository =>> MongoDB

All loks fine but i get the java.lang.NoClassDefFoundError.

Rea

[2021-03-05 20:31] otaviojava commented on #68
I don't have expertise in open liberty.
But, there are some who to include these libraries to avoid this exception.

I have this sample code here it might help:
* https://github.com/platformsh-examples/payara-micro/tree/master/nosql
* https://github.com/platformsh-examples/deploy-friday-ep15

[2021-03-07 00:01] asterisk360-admin commented on #68
Hello @otaviojava

The only diference with the payara example is the pom.xml

**Payara Example:**
        <dependency>
            <groupId>org.eclipse.jnosql.artemis</groupId>
            <artifactId>artemis-document</artifactId>
            <version>0.1.0.M1</version>
        </dependency>
        <dependency>
            <groupId>org.eclipse.jnosql.diana</groupId>
            <artifactId>mongod

[2021-03-07 11:53] otaviojava commented on #68
I don't have the know-how to use open liberty.
Hey, @Linuem could you help us with this issue? Could you create a sample application?

[2021-03-07 17:51] asterisk360-admin commented on #68
Hello

For fix, add this depencies in pom and add them to copy global libs for liberty
jakarta.nosql.communication
communication-document
1.0.0-b3

jakarta.nosql.mapping
mapping-document
1.0.0-b3

update the microprofile config:
document.provider=org.eclipse.jnosql.communication.mongodb.document.MongoDBDocumentConfiguration

--
Now i'm having new error:
[INFO] [ERROR   ] CWWKZ0002E: An exception o

[2021-11-06 06:23] DmitriGit opened #79 "Improving of the first Chapters' introduction content."
Hi Team,

I think that introduction of the first Chapter ("One Mapping API, multiples databases") has some redundant information that, when removed, will improve comprehension of the content. Now the begining of the introduction is:

"_Jakarta NoSQL is a Java framework that streamlines the integration of Java applications with NoSQL databases. **It defines a set of APIs and provides a standard imp

[2021-11-10 19:27] DmitriGit opened #80 "Improving of the first Chapters' introduction content - 2."
Hi Team,

another observation for improving content of the Introduction to "Chapter 1"...

I think that the piece:
"_Vendor lock-in is one of the things any Java project needs to consider when choosing NoSQL databases. If there’s a need for a switch, other considerations include: time spent on the change, the learning curve of a new API to use with this database, the code that will be lost, the pe

[2021-11-10 19:53] otaviojava commented on #80
Hey @DmitriGit
What do you think if you do a PR with this suggestion?

[2021-11-10 21:24] DmitriGit commented on #80
Yes, yes! Thank you very much, Otavio!
PR only for this issue 80 or for 79 also?

[2021-11-11 08:57] otaviojava commented on #80
To both.

[2022-04-12 15:14] #80 closed

[2022-04-12 15:14] #79 closed

[2022-04-12 15:15] #20 closed

[2022-04-27 16:59] otaviojava commented on #68
Sorry by the delay.
@asterisk360-admin do you still need help?

[2022-04-27 16:59] #68 closed

[2022-05-03 15:58] #62 closed

[2022-05-03 15:58] #13 closed

[2022-05-03 15:58] #7 closed

[2022-05-03 16:44] otaviojava opened #90 "Improve Query to both Document and Column communication API"
Currently, we have query support using a fluent API to both select and delete, but it has several limitations, such as evolute complex conditions.

The proposal is to add a ```builder``` method in the Query interfaces such as DocumentQuery, ColumnQuery, etc. This way, it will create more complex queries easier without using the fluent API.

[code]

Furthermore, it will make it easier to implement

[2022-05-03 16:45] otaviojava commented on #90
@amoscatelli does it make your life easier?
What do you think?

[2022-05-03 20:28] aeciojunior commented on #90
It would be interesting to be able to add indices in order to optimize the query.

[2022-05-03 20:54] deniswsrosa commented on #90
Not sure regarding adding indexes as they might take hours to get built, but suggesting the index is definitely a good thing.Many nosql databases tend to have a rule-based optimizer instead of a cost-based optimizer

[2022-05-03 21:06] deniswsrosa commented on #90
@otaviojava From my experience, most the complex queries have 3 things:

1) Temporary/virtual tables:
`select val1,val2 from table1 as table1, (select * from preferences where xpto='teat' ) as table2 where ...`

2) Subselect referencing values from the main select:

` Select * from user where user.balance = (select max(balance) from account where type = user.type)`

3) Custom user-defined function

[2022-05-03 22:06] boaglio commented on #90
@otaviojava it would be great if this builder could handle lambda expressions like [FluentMongo](https://github.com/streamx-co/FluentMongo) does
=)

[2022-05-03 22:37] somayaj commented on #90
further, intersect and union queries? how will those be handled? is that part of the spec as well for consideration?

[2022-05-04 05:10] otaviojava commented on #90
@deniswsrosa
Thank you, Denis; those samples are super complex!!
For sure, we must have support for it!

I'll keep my eyes on it as the next step.
Thank you :)

[2022-05-04 05:14] otaviojava commented on #90
Hey @somayaj

We don't support it yet; we're making baby-step progress in the specification.
It is the same as @deniswrosa

It is not yet, but we must have support for it.

[2022-05-04 05:17] otaviojava commented on #90
@boaglio, thank you for the suggestion; we'll look into it.

[2022-05-04 08:17] amoscatelli commented on #90
@otaviojava yea, it looks great.

I am going to use this inside DocumentTemplate (mapping layer) to map Criteria API into low level communication layer objects.

Who is going to work on this ?
I am currently stuck and cannot go further without this.

[2022-05-04 09:17] otaviojava commented on #90
@amoscatelli I'll work on this and then open a PR to review.
Let's work together :)

I will send a PR tonight.

[2022-05-04 19:38] otaviojava commented on #90
@amoscatelli I finished the API and the documentation it left the implementation:

https://github.com/eclipse-ee4j/nosql/pull/91

[2022-05-06 11:41] amoscatelli commented on #90
@otaviojava the implementation is ready ? do you need help ?

[2022-05-06 19:08] avbravo commented on #90
I find it very suitable. Offering alternatives makes it easier to use.

[2022-05-20 11:35] #90 closed

[2022-06-05 12:11] amoscatelli opened #99 "Missing operators in DocumentCondition"
Hi @otaviojava
Let's keep track of the missing operators / functionalities to extend yours DocumentCondition (https://github.com/eclipse-ee4j/nosql/issues/90) with :

1) 'Not' operator. Basic negation operator, I believe every nosql databases supports it (for sure it's supported by MongoDB and ElasticSearch).

2) InclusiveBetween + ExclusiveBetween VS Between. Same as before, also we already talke

[2022-06-09 12:56] otaviojava commented on #99
We have the negate method [negate](https://www.jnosql.org/javadoc/jakarta/nosql/document/DocumentCondition.html#negate())

[2022-06-09 14:05] otaviojava commented on #99
I've created this PR to add the no method following the Java API:
https://github.com/eclipse-ee4j/nosql/pull/100

[2022-06-09 14:10] amoscatelli commented on #99
oh ! that's good enough, sorry. I missed that.

Point n1 is to be considered fixed.

[2022-06-09 14:17] amoscatelli commented on #99
@otaviojava correcly integrated on the fly !
https://github.com/eclipse/jnosql-mapping-extension/commit/67e4517355c17b29ab54caa0b07ce76d1359fb70

[2022-06-14 16:21] amoscatelli commented on #99
@otaviojava what bout point n2 and n3 ? how can we proceed ?

[2022-06-21 10:45] otaviojava opened #102 "Add support to prepare to skip and limit on the query"
[code]
Unfortunately, this doesn't work either. I got an ANTLR exception:

[code]

We need to add support to parameter types on skip and limit.

[2022-06-21 10:46] otaviojava commented on #102
Ref: https://www.eclipse.org/lists/nosql-dev/msg00159.html

[2022-07-02 07:19] otaviojava opened #103 "Add support to Inheritance"
Inheritance is a fundamental concept of object-oriented programming and Java. NoSQL, usually, has no concept of inheritance, so persisting inheritance in a database can be tricky. Because databases have no concept of inheritance, there is no standard way of implementing inheritance in a database, so the hardest part of persisting inheritance is choosing how to represent the inheritance in the data

[2022-07-04 08:16] amoscatelli commented on #99
Hi @otaviojava !
Any news to make this progress ?

[2022-07-04 17:58] otaviojava commented on #99
Sorry for the delay.
For now, let's keep it.
We'll work in parallel with the Jakarta Data:
https://projects.eclipse.org/proposals/jakarta-data

So, what we can do is create some utilitarian classes to cover it.
We can start on MongoDB to mature more the proposal.

What do you think?

[2022-07-05 07:56] amoscatelli commented on #99
I can't really understand which are the functionalities to be modeled in jakarta-data that we may cover/use here.
You have fore sure a more complete view than me so just tell me more details on what do you have in mind and let's move forward 💪.

Let's just not forget the final goal : having a complete query builder for JNoSql, with update and delete support too !

Now, what do we do ?

[2022-07-05 09:33] otaviojava commented on #99
How about improving the MongoDB extension?
right now, we have new dependencies:
https://github.com/eclipse/jnosql-mapping-extension/blob/master/jnosql-mongodb-extension/pom.xml

What do you think if we move it as a dependency in build time?

[2022-07-05 10:37] otaviojava commented on #99
Yeap, if we put those as an option it would be really nice.

[2022-07-05 11:19] amoscatelli commented on #99
@otaviojava here you are :
https://github.com/eclipse/jnosql-mapping-extension/commit/1e1ba4202a847edf6f74dd69dce3b42dd054f899

We can't flag com.sun.codemodel as optional, it is a required transitive dependency.
What we can do, is to migrate the whole metamodel generation code to another library.

What do you think ?

[2022-07-06 10:10] amoscatelli commented on #99
@otaviojava
done :
https://github.com/eclipse/jnosql-mapping-extension/compare/master...amoscatelli:jnosql-mapping-extension:master

is this good ?
may I also suggest to move criteria packages to a 'jnosql-criteria-extension' ?
what do you think ?

[2022-07-23 09:41] amoscatelli commented on #99
I made a pull request for what we agreed upon :
https://github.com/eclipse/jnosql-mapping-extension/pull/64

I would like to start moving criteria packages to jnosql-criteria-extension but I need to know what you think about it

[2022-08-04 09:19] #103 closed

[2022-08-04 09:20] #61 closed

[2022-08-04 09:20] #15 closed

[2022-08-04 09:20] #64 closed

[2022-08-04 09:24] otaviojava opened #106 "Support to Record and Constructor"
Let's move it to the Jakarta NoSQL spec as well.

Should we have support to Record and more than a default constructor on Jakarta NoSQL?

[code]

Ref:
* [Entities <-> Records Assembler](https://github.com/kalgon/jpa-records/issues/1)
* [Jakarta EE Ambassador discussion](https://groups.google.com/g/jakartaee-ambassadors/c/IfRdXyWrx98?pli=1)
* [Data Software Design Pitfalls on Java: Should We Have a

[2022-08-08 02:29] hantsy opened #108 "ReactiveStreams/Flow support"
almost all data related  project, such as Spring Data, MicroauntData have added ReactiveStreams/Flow support, Jakarta EE/MP also includes a ReactiveStreams operates spec.

Consider ReactiveStreams or Java Flow support.

[2022-08-08 02:31] hantsy opened #109 "How to handle ElementCollection"
In JPA there is ElementCollection to embed a collection of embeddable elements in the Entity, if possible add such a feature in NoSQL.

[2022-08-08 02:34] hantsy opened #110 "Handle DbRef in Mongo"
Mongo drivers itself can handle the dbref case.

[code]

we can add and remove comment from Post.comments node directly.

[2022-08-08 20:15] otaviojava commented on #110
Hey @hantsy
I hope that you're okay.

Once it is a particular behavior, I'll move it to an extension:
https://github.com/eclipse/jnosql-mapping-extension/tree/main/jnosql-mongodb-extension

The goal of the NoSQL API is to use the commons behavior, anything else, move to extension.

[2022-08-08 20:24] otaviojava commented on #108
We have this in mind.
We also have this on the implementation:

https://github.com/eclipse/jnosql/tree/main/jnosql-mapping/jnosql-mapping-reactive

We're using the Jakarta Reactive.

We still waiting for the decision about the relationship between Jakarta and MicroProfile:

* Can we use it on the spec?
* Should we replicate it on the Jakarta EE side?
* Who will support the same API twice?

[2022-10-22 04:41] #8 closed

[2022-10-22 04:42] #110 closed

[2022-10-22 04:42] #106 closed

[2022-10-22 04:56] #109 closed

[2022-10-22 04:56] #108 closed

[2022-10-22 04:57] #102 closed

[2022-10-22 04:57] otaviojava commented on #102
We won't work on it for a while, so I'll close until we return this work.

[2022-10-22 04:59] otaviojava opened #116 "Repleace Matcher for assertj"
The [hamcrest has not been updated since 2012](https://mvnrepository.com/artifact/org.hamcrest/hamcrest-all).

Let's replace it with [assertj](https://mvnrepository.com/artifact/org.assertj/assertj-core), the same that we're running on Jakarta Data.

[2022-10-22 05:20] otaviojava opened #117 "Define a standard for readme at the Jakarta NoSQL/JNoSQL projects."
A good readme helps new contributors and users. It includes the documentation itself.

The proposal here is to define sessions that make sense in all projects.

We can explore several projects and articles with this goal.

At this point, it might be worthwhile to discuss with it makes sense to return to markdown instead of asciidoc to have features such as Table Of Content.

## References:

* http

[2022-10-22 05:23] otaviojava opened #118 "Create change log file to each repository"
A changelog is a file containing a curated, chronologically ordered list of notable changes for each project version.

Reference:

* https://keepachangelog.com/en/1.0.0/

[2022-10-22 05:33] otaviojava opened #119 "Review JavaDoc at the Jakarta NoSQL API"
Check and review the JavaDoc inside the project to check if the documentation is enough and valuable to the user.

## Tasks

- [x] Communication API
- [x] Mapping API

[2022-10-22 05:37] otaviojava opened #120 "Refactoring Spec at Jakarta NoSQL"
At the spec, we have several concepts around NoSQL and their definition. To reduce and make the spec more cohesive, we can reduce it by removing what does not belong to API and putting links instead.

[2022-10-22 05:47] otaviojava opened #121 "Treat documentation as the first citizen at the Jakarta NoSQL project."
We go to another approval at the Jakarta EE committee board, which is good news.

As the next step, I would like to create a force task to review and enhances our project documentation.

## Tasks

- [x] [Readme](https://github.com/eclipse-ee4j/nosql/issues/117)
- [x] [Create changelog](https://github.com/eclipse-ee4j/nosql/issues/118)
- [x] [Review JavaDoc](https://github.com/eclipse-ee4j/nosql/is

[2022-10-22 08:57] mpredli01 commented on #121
Hey Otavio:

That is indeed great news!  I am more-than-happy to help with the documentation.

Mike.

[2022-10-22 11:20] DanSilva41 commented on #121
Great initiative!
I am very excited and willing to collaborate!

The idea is to assign the issue and get to work?

Thank you, @otaviojava!
_Danilo Silva_

[2022-10-22 23:19] andradesampaio commented on #121
Hi @otaviojava,

Make me available to collaborate!

Andrade Sampaio

[2022-10-23 05:10] otaviojava commented on #121
Hey @DanSilva41, yes, it is simple like that.
Take an issue and start a discussion on it.

[2022-10-23 05:12] otaviojava commented on #121
@andradesampaio, how about you start with this one?
https://github.com/eclipse-ee4j/nosql/issues/120
It is to remove the concept of it.
It might be an easier one.

https://github.com/eclipse-ee4j/nosql/tree/main/spec/src/main/asciidoc

[2022-10-23 15:10] DanSilva41 commented on #121
Excellent, @otaviojava !!
Thanks, let's go 🚀

[2022-10-23 19:05] otaviojava commented on #121
Please, comment on the issue that you wanna work on to avoid duplicated efforts.

[2022-10-23 20:44] andradesampaio commented on #120
Hi @otaviojava,
Forgive my ignorance, I opened a merge request, could you check if I'm doing it right please.
https://github.com/eclipse-ee4j/nosql/pull/123

[2022-10-23 20:48] DanSilva41 commented on #121
Ah yes! I believe that a good start would be to start the discussions of #118!

Could it be? @otaviojava

[2022-10-24 05:18] otaviojava commented on #121
Yes, please, create a discussion there :)
Put reference, create a template, and then a PR.

[2022-10-26 11:56] DanSilva41 commented on #118
Hi @otaviojava,
I opened a pull request, could you check if I'm doing it right please.

https://github.com/eclipse-ee4j/nosql/pull/126

I also leave it open for us to discuss about issues references and author names in the CHANGELOG files, as well as other points!

[2022-11-01 10:26] otaviojava commented on #117
* https://www.mygreatlearning.com/blog/readme-file/#Q1
* https://tom.preston-werner.com/2010/08/23/readme-driven-development.html
* https://github.com/RichardLitt/standard-readme

[2022-11-01 10:55] otaviojava commented on #117
I believe this is a good structure:

* Introduction
* Getting Started
  * API
  * Maven
* Code of Conduct
* Getting Help
* Building from Source

[2022-11-01 14:15] DanSilva41 commented on #118
Hi, @otaviojava!
I started working on the other changelog files, and I noticed that lately you raised the use of asciidoc.
Does it make sense to format changelog files to asciidoc?

[2022-11-01 16:03] otaviojava commented on #118
Yeap, it does!

[2022-11-17 05:11] #119 closed

[2022-11-17 05:12] #117 closed

[2022-11-17 05:15] otaviojava commented on #121
@DanSilva41 are you going to do the changelog on the mapping?
https://github.com/eclipse/jnosql-mapping-extension/
Btw, thank you for all the work!

[2022-11-18 20:36] DanSilva41 commented on #118
@otaviojava, I opened last PR about changelog files.

[2022-11-27 06:55] otaviojava commented on #118
@DanSilva41 thank you, and well done.

[2022-11-27 06:55] #118 closed

[2022-11-27 07:00] #116 closed

[2022-11-28 05:15] #120 closed